<div class="card bg-light">
  <div class="card-body">
    <h4><%= link_to post.title, post %></h4>

    <div class="text-muted mb-2">
      <em>Por <%= post.author %> - <%= I18n.l post.created_at, format: :long %> </em>
    </div>

    <p><%= post.body.truncate(60) %></p>

    <p class='text-muted'> <%= pluralize post.comments.count, 'Comentário' %> </p>

    <%= link_to "Ver Post", post, class: 'btn btn-outline-primary' %>

    <%= link_to "Editar", edit_post_path(post), class: 'btn btn-outline-primary' %>

    <%= link_to "Apagar", post, method: :delete, class: 'btn btn-outline-primary' %>
  </div>
</div>
