<!DOCTYPE html>
<html>
  <head>
    <title>Dev Sandy - Ruby on Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="bg-danger text-white text-center mb-2 p-4">
      <%= link_to root_path, class: 'text-white' do %>
        <h1 class="display-8"> Blog Dev Sandy - Ruby on Rails </h1>
      <% end %>
      <p class="lead">
        Primeiros passos no mundo do Ruby on Rails
      </p>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="bg-danger text-white text-center mt-5 p-4">
      Feito por Sabrina Gomes 💫 <%= Date.current.year %>
    </footer>

  </body>
</html>
